.blue {
    width: 100%;
    height:40px;
    background-color:#2d82f9;
}

.jumbo {
    position: relative;
}

.p-box-image {
    position:absolute;
    bottom: 0;
}

.p-box-image {
    width:150px;
}

.p-box-image img{
    width:100%;
}
// classi bottoni:
main.space {
    padding:50px 0;
}

.buttons {
    display: flex;
    font-size: 14px;
    color:white;
}

.button-price{
    background-color:green;
    width:40%;
    padding:10px;
    position:relative;
}

.available{
    position:absolute;
    right:5px;
}


.button-check{
    background-color:green;
    width:15%;
    padding:10px;
    border-left:1px solid black;
}

.testo {
    width:55%;
    font-size:14px;
}
// parte della descrizione: 
.gray-bg{
    width: 100%;
    height: 300px;
    background-color: #ccc;
    border-top:.2px solid gray;
}

.sotto {
    display: flex;
}

.talent {
    width: 50%;
}

.specs {
    width: 50%;
    margin-left:20px;
}

.art {
    display: flex;
    border-top:.5px solid black;
    font-size:12px;
    padding: 10px 0;
}

.art:last-child {
    border-bottom:.5px solid black;
   
}

.artisti-tile{
    
    margin-right:20px;
}

