//
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Helvetica;
}

.bg-main {
    background-color: #1c1c1c;
    width:100%;
    height:400px;
}

.row-blue{
    background-color: #2d82f9;
    width:100%;
    height:100px;
}

@import 'header';

@import 'footer';
