* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.blue-row {
  background-color: #2d82f9;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.box-flex {
  display: flex;
}

.blue-row .container .box-flex {
  justify-content: flex-end;
  color: white;
}

.item-1 {
  margin-right: 20px;
}

nav {
  margin: 5px 0 0 0;
}

nav .box-flex {
  align-items: center;
  justify-content: space-between;
}

.box-logo {
  width: 80px;
}

.box-logo img {
  width: 100%;
}

.options ul {
  list-style-type: none;
  display: flex;
}

.options ul li {
  margin-left: 15px;
  font-size: 14px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options ul li:first-child {
  margin-left: 0;
}

.options ul li a {
  text-decoration: none;
  color: gray;
}

.options ul li:hover {
  border-bottom: 4px solid #2d82f9;
}

.options ul li:hover a {
  color: #2d82f9;
}

.box-jumbo {
  background-image: url("/images/jumbotron.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
}

.bg-main {
  background-color: #1c1c1c;
  width: 100%;
}

.row-blue {
  background-color: #2d82f9;
  width: 100%;
  height: 100px;
}

.align {
  display: flex;
  flex-wrap: wrap;
}

.comic-item {
  width: calc(100% / 6);
}

.box-copertina {
  width: 160px;
}

.box-copertina img {
  width: 100%;
}

.jumbo-image {
  background-image: url("/images/footer-bg.jpg");
  height: 300px;
  background-size: cover;
}

.jumbo-image .container .box-flex {
  justify-content: space-between;
}

.dx {
  background-image: url("/images/dc-logo-bg.png");
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: top;
  z-index: 2;
  background-repeat: no-repeat;
}

.text-sopra {
  display: flex;
  margin-top: 20px;
}

.text-sopra ul {
  list-style-type: none;
  color: white;
  margin-right: 10px;
}

.text-sopra ul a {
  color: white;
  font-size: 10px;
  text-decoration: none;
}

.shop {
  margin-top: 30px;
}

